.book-item {
  margin: 1rem;
  padding: 1rem;
  background-color: aliceblue;
  border: 1px solid #ccc;
}
.title {
  font-weight: bold;
  font-size: 1.2rem;
}
.publisher {
  color: #555;
  font-size: 0.9rem;
}